<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
	<add name="core" connectionString="Data Source=UA01597;Initial Catalog=s92_Core;User ID=coreuser;Password=lo4vJxz15A8z5hXpWZsy" />
	<add name="security" connectionString="Data Source=UA01597;Initial Catalog=s92_Core;User ID=securityuser;Password=XFVxS2sBjhwQFcDwq4NM" />
	<add name="master" connectionString="Data Source=UA01597;Initial Catalog=s92_Master;User ID=masteruser;Password=iO5GrliYxsK4RyaEHuqB" />
	<add name="web" connectionString="Data Source=UA01597;Initial Catalog=s92_Web;User ID=webuser;Password=ieFOlQHASSSsWK2rFno0" />
	<add name="messaging" connectionString="Data Source=UA01597;Initial Catalog=s92_Messaging;User ID=messaginguser;Password=M5axLlexJ82G9FMoaa2m" />
	<add name="xdb.marketingautomation" connectionString="Data Source=UA01597;Initial Catalog=s92_MarketingAutomation;User ID=marketingautomationuser;Password=ncg3rcTUYJI4RBCHsbqH" />
	<add name="xdb.processing.pools" connectionString="Data Source=UA01597;Initial Catalog=s92_Processing.Pools;User ID=poolsuser;Password=OMOfyd5jucGeoNyz3sWv" />
	<add name="xdb.referencedata" connectionString="Data Source=UA01597;Initial Catalog=s92_ReferenceData;User ID=referencedatauser;Password=6MC1Yr4dP40vN8WZI1rr" />
	<add name="xdb.processing.tasks" connectionString="Data Source=UA01597;Initial Catalog=s92_Processing.Tasks;User ID=tasksuser;Password=5L2rNh0MLYFYxtSmvBjo" />
	<add name="experienceforms" connectionString="Data Source=UA01597;Initial Catalog=s92_ExperienceForms;User ID=formsuser;Password=Q924LwWwe267MPAkYFcK" />
	<add name="exm.master" connectionString="Data Source=UA01597;Initial Catalog=s92_EXM.Master;User ID=exmmasteruser;Password=XwMY5wrjwmN7xYTiHviB" />
	<add name="reporting" connectionString="Data Source=UA01597;Initial Catalog=s92_Reporting;User ID=reportinguser;Password=fb6rkJ9UCbXeJCyXz03l" />
	<add name="sitecore.reporting.client" connectionString="https://s92xconnect.dev.local" />
	<add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=1C5DA2BD31AF714A3E6A4434056038180B174C7C" />
	<add name="solr.search" connectionString="https://solr75:8750/solr" />
	<add name="sitecoreidentity.secret" connectionString="3Xx9GQLbp2Q0u8hy3KoRwZIimi183J2HOg6J9bbrKlf95B4gODSLLeA716UHVD8Il4qfiaJ9SygNMf0Y3HsqSBoIp20vFNihOg59" />
	<add name="xconnect.collection" connectionString="https://s92xconnect.dev.local" />
	<add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=1C5DA2BD31AF714A3E6A4434056038180B174C7C" />
	<add name="xdb.marketingautomation.operations.client" connectionString="https://s92xconnect.dev.local" />
	<add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=1C5DA2BD31AF714A3E6A4434056038180B174C7C" />
	<add name="xdb.marketingautomation.reporting.client" connectionString="https://s92xconnect.dev.local" />
	<add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=1C5DA2BD31AF714A3E6A4434056038180B174C7C" />
	<add name="xdb.referencedata.client" connectionString="https://s92xconnect.dev.local" />
	<add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=1C5DA2BD31AF714A3E6A4434056038180B174C7C" />
	<add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
	<add name="EXM.CryptographicKey" connectionString="0x4616676960085339243240062898313403413498917486013359996338411727" />
	<add name="EXM.AuthenticationKey" connectionString="0x4373875668533601060728276231879292842541670735209924320919329187" />
</connectionStrings>